nav{
   height: 10vh;
   background-color: rgb(21, 21, 21); 
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-link{
    color: rgb(249, 244, 233);
     text-decoration: none;
     margin: 1rem;
     font-size: xx-large;
}
.nav-link:hover{
    color: goldenrod;
}
nav .active{
    color: red;
}
h1{
    text-align: center;
    color: rgb(85, 7, 85);
}
 section{
    display: grid;
    grid-gap: 1rem;
 }
 .form{
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
      align-items: center;
 }
 article{
    background-color: rgb(175, 196, 204);
    margin: 10px;
    padding: 10px;
    color:rgb(16, 15, 16);
 }
 @media screen and (min-width:600px) {
    section {
        grid-template-columns: auto auto;
    }
    
 }
 @media screen and (min-width:900px) {
    section {
        grid-template-columns: auto auto auto;
    }
    
 }